.modal-overflow::part(content) {
  overflow: visible;
}

.modal-overflow ion-toolbar {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.token {
  z-index: 100;
  margin: 0 auto;
  transform: scale(3) translateY(-4px);
  position: absolute;
  left: calc(50% - 16px);
}