.modal-overflow::part(content) {
  overflow: visible;
}

.modal-overflow ion-toolbar {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.modal-overflow .token {
  z-index: 100;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 50px);
  top: -40px;
}