@font-face {
  font-family: "Dumbledore";
  src: url("/botc/assets/fonts/dumbledor.woff2") format("woff2");
}

.modal-overflow::part(content) {
  overflow: visible;
}

.flavor {
  font-family: 'Dumbledore';
  font-style: italic;
  color: var(--ion-color-medium);
}

ion-searchbar.sc-ion-searchbar-ios-h {
  padding-top: 0;
  padding-bottom: 0;
  min-height: auto;
}

ion-segment-content {
  max-height: 100%;
  overflow-y: scroll;
}

.title-padding {
  padding: 0 48px;
}

.icon {
  width: 36px;
  height: 36px;
}

.inset-list-title {
  color: var(--ion-color-medium);
  margin-left: 32px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  position: relative;
  top: 8px;
}

.circle-container {
  position: relative;
  width: 100vmin;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}