@font-face {
  font-family: 'Dumbledore';
  src: url('/botc/assets/fonts/dumbledor.woff2') format('woff2');
}

.overflow-visible {
  overflow: visible !important;
}

.modal-content {
  height: 100%;
  overflow-y: auto;
}

ion-list.list-inset.ion-no-margin {
  margin: 0;
}

.role-icon {
  width: 24px;
  height: 24px;
  transform: scale(1.5);
}

.role-type-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.jinx-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 -2px 16px;
  transform: scale(1.5);
}

ion-searchbar.sc-ion-searchbar-ios-h,
.header-collapse-condense ion-toolbar ion-searchbar {
  padding-top: 0;
  padding-bottom: 0;
  min-height: auto;
}

.searchbar-input-container.sc-ion-searchbar-ios {
  min-height: 32px;
}

ion-chip {
  min-height: 32px;
  max-height: 32px;
}

.filters-row {
  white-space: nowrap;
  overflow-x: auto;
}


/* .role-view-flavor {
  font-family: 'Dumbledore';
  font-style: italic;
  color: var(--ion-color-medium);
} */

/* .height-100 {
  max-height: 100%;
  overflow-y: scroll;
} */

/* .title-padding {
  padding: 0 48px;
} */



/* .inset-list-title {
  color: var(--ion-color-medium);
  margin-left: 32px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  position: relative;
  top: 8px;
} */

.circle-container {
  position: relative;
  width: 100vmin;
  height: 100vmin;
}

.has-value.sc-ion-textarea-ios-h+.input-clear-icon.sc-ion-input-ios,
.has-value.sc-ion-input-ios-h+.input-clear-icon.sc-ion-input-ios {
  visibility: visible;
  color: inherit;
  min-width: 30px;
  min-height: 30px;
}

/* @media screen and (min-width: 768px) {
  ion-tab-button {
    display: flex;
    flex-direction: row;
  }

  ion-tab-button > ion-icon {
    padding-right: 8px;
  }
} */