@font-face {
  font-family: "Dumbledore";
  src: url("/botc/assets/fonts/dumbledor.woff2") format("woff2");
}

.modal-overflow::part(content) {
  overflow: visible;
}

.flavor {
  font-family: 'Dumbledore';
  font-style: italic;
  color: var(--ion-color-medium);
}
